:root {
    --header-height: 3.5rem;
    --first-clr: #B99F81;
    --black-clr: #0C0C0C;
    --white-clr: #F7F7F7;
    --grey-clr: hsl(0, 0%, 70%);
    --grey-clr-alt: #222;
    --blue-clr: #0d0dbd;
    --body-font: 'Poppins', sans-serif;
    --biggest-fs: 2.25rem;
    --h1-fs: 1.5rem;
    --h2-fs: 1.25rem;
    --h3-fs: 1rem;
    --normal-fs: .938rem;
    --small-fs: .813rem;
    --smaller-fs: .75rem;
    --regular-fw: 300;
    --medium-fw: 500;
    --bold-fw: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-fs: 4rem;
        --h1-fs: 2.25rem;
        --h2-fs: 1.5rem;
        --h3-fs: 1.25rem;
        --normal-fs: 1rem;
        --small-fs: .875rem;
        --smaller-fs: .813rem;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-fs);
    background-color: var(--black-clr);
    color: var(--white-clr);
}

h1,
h2,
h3 {
    font-weight: var(--bold-fw);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

b {
    color: var(--white-clr);
}

span {
    font-weight: var(--bold-fw);
}

img {
    max-width: 100%;
    height: auto;
}

.ab {
    width: 100%;
}

button,
input {
    font-family: var(--body-font);
    outline: none;
    border: none;
}

.container {
    max-width: 1024px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.section {
    padding: 4.5rem 0 2rem;
}

.section-title {
    text-align: center;
    font-size: var(--h2-fs);
    margin-bottom: 1rem;
}

.section-subtitle {
    display: block;
    text-align: center;
    font-size: var(--normal-fs);
    font-weight: var(--medium-fw);
    color: var(--grey-clr);
}

.main {
    overflow: hidden;
}

.grid {
    display: grid;
}

.blog-section {
    margin: 1rem 0;
}

.blogging-container {
    color: var(--grey-clr);
}

.white {
    color: var(--white-clr);
}

.copyright {
    color: var(--first-clr);
}

::-webkit-scrollbar {
    width: .6rem;
    background: var(--black-clr);
}

::-webkit-scrollbar-thumb {
    background: var(--first-clr);
}

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -30%;
    background-color: var(--first-clr);
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
    display: inline-flex;
    padding: .55rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;
}

.scrollup:hover {
    opacity: 1;
}

.scrollup__icon {
    font-size: 1.25rem;
    color: var(--black-clr);
}

.show-scroll {
    bottom: 3rem;
}

.button {
    display: inline-block;
    background-color: var(--first-clr);
    color: var(--black-clr);
    padding: .75rem 1.5rem;
    font-weight: var(--medium-fw);
    border-radius: 4px;
    transition: .3s;
}

.button:hover {
    background-color: var(--white-clr);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo,
.nav-toggle {
    color: var(--white-clr);
}

.nav-logo {
    display: flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: var(--bold-fw);
}

.nav-logo-img {
    width: 1.5rem;
}

.nav-toggle {
    display: inline-flex;
    font-size: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        background-color: var(--grey-clr-alt);
        left: 0;
        top: -100%;
        width: 100%;
        padding: 4rem 0 2rem;
        border-radius: 0 0 33px 33px;
        box-shadow: 0 2px 4px hsla(38, 4%, 15%, .15);
        transition: .3s;
    }
}

.nav-bg {
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-15deg);
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.nav-link {
    color: var(--white-clr);
    font-weight: var(--medium-fw);
    transition: .3s;
}

.nav-link:hover {
    color: var(--first-clr);
}

.nav-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.button-header {
    display: none;
}

.show-menu {
    top: 0;
}

.scroll-header {
    background-color: var(--black-clr);
    box-shadow: 0 1px 4px var(--black-clr);
}

.active-link {
    color: var(--first-clr);
}

.home {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #0C0C0C), url("../images/home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-clr);
    min-height: 700px;
    padding-block: 120px 60px;
    display: grid;
    align-items: center;
}

.home-subtitle {
    color: var(--first-clr);
    font-weight: var(--medium-fw);
}

.home-title {
    font-size: var(--biggest-fs);
    margin-block: 30px;
    line-height: 1.2;
}

strong {
    display: block;
}

.home-desc {
    font-size: var(--normal-fs);
    letter-spacing: -1px;
    max-width: 50ch;
    color: var(--grey-clr);
    margin-block-end: 30px;
}

.detail {
    padding-block-start: 0;
}

.details-list {
    display: grid;
    gap: 30px;
}

.details-item {
    display: flex;
    align-items: flex-start;
    gap: 25px;
}

.details-item .detail-icon {
    color: var(--first-clr);
    font-size: 1.8rem;
    margin-block-start: 2px;
}

.details-item .detail-title {
    margin-block-end: 2px;
}

.details-item .detail-text {
    max-width: 25ch;
    color: var(--grey-clr);
    font-size: var(--normal-fs);
}

.about {
    padding-block-end: 0;
}

.about-container {
    padding-inline: 15px;
}

.about .section-title {
    margin-block-end: 25px;
}

.about-list {
    display: grid;
    gap: 15px;
}

.about-card {
    display: flex;
    align-items: flex-start;
    min-height: 100%;
    padding: 20px;
    border: 1px solid var(--first-clr);
    border-radius: 4px;
    gap: 10px;
}

.about-card .about-icon {
    width: 50px;
    flex-shrink: 0;
}

.about-card .about-title {
    margin-block-end: 8px;
}

.about-text {
    color: var(--grey-clr);
    line-height: 1.7;
}

.about-banner {
    display: block;
    justify-self: center;
}

.about-mid img {
    width: 230px;
    animation: float 1.8s infinite alternate;
}

.about-shadow {
    width: 130px;
    height: 24px;
    background-color: #222;
    margin: 0 auto;
    border-radius: 50%;
    filter: blur(7px);
    animation: shadow 1.8s infinite alternate;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(15px);
    }
}

@keyframes shadow {
    0% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(.85, .85);
    }
}

.explore-content {
    background-color: var(--grey-clr-alt);
    color: var(--grey-clr);
    padding: 40px 20px;
    border-radius: 16px;
    border-bottom: 4px solid var(--first-clr);
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.2);
    margin-bottom: 1rem;
}

.evetuh {
    display: grid;
    row-gap: 1rem;
    background-color: hsl(45, 8%, 16%);
    box-shadow: 0px 2px 6px hsla(54, 100%, 15%, 0.15);
    padding: 2rem 1.5rem;
    border-radius: 1rem;
    text-align: center;
}

.exp-title {
    font-size: var(--h3-fs);
    font-weight: var(--bold-fw);
    color: var(--white-clr);
}

.exp {
    margin-bottom: .75rem;
}

.read {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}

.read-link {
    color: var(--grey-clr);
}

.read-link:hover {
    color: var(--first-clr);
}

.explore-banner {
    margin-bottom: 1rem;
}

.explore-banner {
    display: none;
}

.explore-img {
    width: 100%;
}

.planet-swiper {
    margin-top: 3rem;
}

.planet-content {
    row-gap: 1rem;
}

.planet-group {
    position: relative;
    display: grid;
    padding-top: 2rem;
}

.planet-img {
    justify-self: center;
}

.planet-indicator {
    width: 8px;
    height: 8px;
    background-color: var(--first-clr);
    border-radius: 50%;
    position: absolute;
    top: 7rem;
    right: 2rem;
}

.planet-indicator::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 48px;
    background-color: var(--first-clr);
    top: -3rem;
    right: 45%;
}

.planet-details-img {
    position: absolute;
    right: .5rem;
}

.planet-details-title,
.planet-details-subtitle {
    display: block;
    font-size: var(--small-fs);
    text-align: right;
}

.planet-details-subtitle {
    color: var(--grey-clr);
}

.planet-subtitle {
    font: var(--h3-fs);
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.planet-title {
    font-size: var(--h1-fs);
    line-height: 109%;
    margin-bottom: 1rem;
}

.planet-description {
    color: var(--grey-clr);
    margin-bottom: 1rem;
}

.planet-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
}

.button--link {
    color: var(--first-clr);
}

.button--flex {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
}

.button--flex:hover {
    color: var(--grey-clr);
}

.button__icon {
    font-size: 1.25rem;
}

.swiper-pagination {
    position: initial;
    margin-top: 1rem;
}

.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    background-color: var(--first-clr);
    opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 .5rem;
}

.swiper-pagination-bullet-active {
    width: 1.5rem;
    height: 5px;
    border-radius: .5rem;
}

.sectionon {
    position: relative;
    height: 100vh;
}

.mercury {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #0C0C0C), url("../images/mercury-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.venus {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #0C0C0C), url("../images/venus-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.earth {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #0C0C0C), url("../images/earth-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mars {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #0C0C0C), url("../images/mars-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jupiter {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #0C0C0C), url("../images/jupiter-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.saturn {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #0C0C0C), url("../images/saturn-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.uranus {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #0C0C0C), url("../images/uranus-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.neptune {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #0C0C0C), url("../images/neptune-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sphere {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), #0C0C0C), url("../images/planets-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.section-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.planets-description {
    font-size: var(--h1-fs);
    font-weight: var(--regular-fw);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 1.5rem;
}

.planets-heading {
    position: relative;
    font-size: var(--biggest-fs);
    text-transform: uppercase;
    letter-spacing: 8px;
    text-align: center;
}

.planets-heading::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: auto;
    height: 2px;
    background-color: var(--first-clr);
}

.planets-stats {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    gap: 12px;
}

.stats-title {
    font-size: var(--h3-fs);
    font-weight: var(--regular-fw);
    color: var(--grey-clr);
}

.stats-text {
    font-size: var(--h1-fs);
    font-weight: var(--regular-fw);
}

.planet-btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
}

.blog-container {
    display: flex;
}

.blog-card {
    flex: 1 1 18rem;
    padding: 1rem;
    border-radius: 10px;
    background: var(--grey-clr-alt);
}

.blog-card img {
    object-fit: cover;
    border-radius: 5px;
}

time {
    color: var(--first-clr);
}

.blog-title {
    font-size: var(--normal-fs);
}

.blog-desc {
    font-size: var(--small-fs);
    color: var(--grey-clr);
    margin-bottom: 0.5rem;
}

.blog-button {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--first-clr);
    transition: .3s;
}

.blog-button:hover {
    color: var(--grey-clr);
    gap: 0.6rem;
}

.footer-container {
    row-gap: 2rem;
}

.footer-content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    row-gap: 2rem;
    padding-block-end: 25px;
    border-block-end: 1px solid var(--grey-clr);
}

.footer-subtitle {
    font-size: var(--h3-font-size);
    color: var(--first-clr);
    margin-bottom: 1rem;
}

.footer-item {
    margin-bottom: .75rem;
}

.footer-link {
    color: var(--grey-clr);
}

.footer-link:hover {
    color: var(--first-clr);
}

.footer-rights {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
}

.footer-copy,
.footer-terms-link {
    font-size: var(--normal-fs);
    color: var(--grey-clr);
}

.footer-terms-link:hover {
    color: var(--first-clr);
}

.footer-terms {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
}

.rights-link {
    color: var(--first-clr);
    font-weight: var(--bold-fw);
}

.rights-link:hover {
    color: var(--grey-clr);
}

@media screen and (max-width: 320px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .section {
        padding: 3.5rem 0 1rem;
    }

    .about-container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
        padding-inline: 0;
    }

    .about-card {
        padding: 10px;
        margin: 10px;
        gap: 8px;
    }

    .planet-buttons {
        flex-direction: column;
        width: max-content;
        row-gap: 1rem;
    }
}

@media screen and (min-width: 568px) {
    .about-container {
        max-width: 540px;
        width: 100%;
        margin-inline: auto;
    }

    .explore-content {
        padding: 60px 40px;
    }

    .explore-banner {
        position: relative;
        max-width: 540px;
        margin-inline: auto;
    }

    .planets-stats {
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    .section {
        padding: 6rem 0 2rem;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
    }

    .nav-close,
    .nav-toggle,
    .nav-bg {
        display: none;
    }

    .nav-list {
        flex-direction: row;
        column-gap: 3.5rem;
    }

    .button-header {
        display: block;
    }

    .details-list {
        grid-template-columns: 1fr 1fr;
    }

    .about-container {
        max-width: 750px;
    }

    .about-list {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    .explore-banner {
        max-width: 510px;
    }

    .planet-content {
        padding: 1rem 0 2rem;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
    }

    .planet-buttons {
        margin-bottom: 4.5rem;
    }

    .swiper-pagination {
        margin-top: 2rem;
    }

    .footer-rights {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 968px) {
    .detail {
        padding-block-start: 80px;
    }

    .home {
        min-height: 780px;
    }

    .details-list {
        grid-template-columns: repeat(4, 1fr);
    }

    .about-container {
        max-width: 980px;
    }

    .about-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .about-banner {
        display: block;
        grid-column: 2 / 3;
        grid-row: 1 / 4;
        align-self: center;
    }

    .about-mid img {
        width: 400px;
    }

    .about-shadow {
        width: 150px;
        height: 40px;
    }

    .planet-content {
        gap: 3rem;
    }

    .planet-img {
        transform: translateY(-2rem);
    }

    .planet-indicator {
        top: initial;
        right: initial;
        bottom: 12%;
        left: 45%;
    }

    .planet-indicator::after {
        top: 0;
        height: 75px;
    }

    .planet-details-img {
        bottom: 0;
        right: 58%;
    }

    .planet-title {
        margin-bottom: 1.5rem;
    }

    .planet-description {
        padding-right: 2rem;
        margin-bottom: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    .explore-content {
        max-width: 700px;
        margin-inline: auto;
    }

    .explore-banner {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .home {
        background-position: center;
    }

    .detail {
        padding-block-start: 0;
        margin-block-start: -92px;
    }

    .about-container {
        max-width: 1180px;
    }

    .explore-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }

    .explore-banner {
        margin-inline: 0;
    }

    .swiper-pagination {
        margin-top: 2.5rem;
    }

    .planets-heading::before {
        width: 200px;
    }
}